<html>
    <head>
      <style type="text/css">
             
             nav {
               height: 100px !important;
               padding: 20px;
             }
             body {
                display: flex;
                min-height: 100vh;
                flex-direction: column;
              }
              main {
                flex: 1 0 auto;
              }
              .material-icons {
                font-family: 'Material Icons';
                font-weight: normal;
                font-style: normal;
                font-size: 96px !important;  /* Preferred icon size */
                display: inline-block;
                line-height: 1;
                text-transform: none;
                letter-spacing: normal;
                word-wrap: normal;
                white-space: nowrap;
                direction: ltr;
              
                /* Support for all WebKit browsers. */
                -webkit-font-smoothing: antialiased;
                /* Support for Safari and Chrome. */
                text-rendering: optimizeLegibility;
              
                /* Support for Firefox. */
                -moz-osx-font-smoothing: grayscale;
              
                /* Support for IE. */
                font-feature-settings: 'liga';
              }
        </style>


         <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">    
        <title>The Math Riddle</title>
    </head>
    <body>
    <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">The Magic Number<i class="material-icons">looks_4</i></a>
      <ul class="right hide-on-med-and-down">
         <li><a href="/howtoplay">How it works</a></li>
      </ul>
    </div>
  </nav>
        <form class="" action="/results" method="post">
            
          <label for="sike">Give me a number! NOW!!!</label>
          <input type="number" name="sike">

          <input type="submit" value="Is four the magic number?">
        </form> 
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br><br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">    </h5>
                <p class="grey-text text-lighten-4">   </p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">    </h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!"></a>   </li>
                  <li><a class="grey-text text-lighten-3" href="#!"></a>   </li>
                  <li><a class="grey-text text-lighten-3" href="#!"></a>   </li>
                  <li><a class="grey-text text-lighten-3" href="#!"></a>   </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2020 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">   </a>
            </div>
          </div>
        </footer>
    </body>
        
</html>
